<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">车辆管理</h3>

				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="汽车名称">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-add">新增</button>
							<button type="button" class="btn btn-default btn-update">修改</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
							<!-- <th>ID</th>
							<th>运输单ID</th>
							<th>下单客户编号</th> -->
							<th></th>
							<th>汽车名称</th>
							<th>汽车类型</th>
							<th>状态</th>
							<!-- <th>创建时间</th>
							<th>修改时间</th> -->
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tbodyId"></tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix">
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
   $(document).ready(function(){
	   $("#pageId").load("doPageUI",function(){
		   doGetObjects();
	   });
	   $(".input-group-btn")
	   .on("click",".btn-search",doQueryObjects)
	   .on("click",".btn-add,.btn-update",doLoadEditUI);
	   $("tbody").on("click",".btn-valid",doValidById)
	   .on("click",".btn-delete",doDeleteObject);
   });
   
   function doDeleteObject(){
		//1.url
		var url="vehicle/doDeleteObject";
		//2.params
		var id=upimg();
		var params={"id":id};
		//3.post
		$.post(url,params,function(result){
			if(result.state==1){
				alert(result.message);
				doGetObjects();
			}else{
				alert(result.message);
			}
		})
	}
   
   function upimg(){
	   return event.target.id;
	   }
   
 //异步加载编辑页面
   function doLoadEditUI(){
   	//1.定义标题
   	var title;
   	if($(this).hasClass("btn-add")){
   		title="添加车辆信息";
   	}else{
   		//设置标题
   		title="修改车辆信息";
   		//获取选中的当前行的记录(从tr对象上获取)
   		var rowData=doGetCheckedItem();
   		if(!rowData){
   			alert("请先选择");
   			return;
   		}
   		console.log("list.rowData",rowData);
   		//重新绑定数据到$("#mainContentId")
   		$("#mainContentId").data("rowData",rowData);
   	}
   	//2.异步加载编辑页面
   	var url="vehicle/doVehicleEditUI";
   	$("#mainContentId").load(url,function(){
   		$(".box-title").html(title);
   	});//假如"#mainContentId"这个位置有页面则replace
   }

   function doGetCheckedItem(){
   	var tr=$("tbody input[type='radio']:checked")
   	       .parents("tr");
   	//这个值是在jquery.treegrid.extension.js中绑定的
   	if(tr)return tr.data("rowData");
   }
   
  
   //禁用和启用操作
   function doValidById(){
	   //params
	   var rowData=$(this).parents("tr").data("rowData");
	   var id=rowData.id;
	   var newValid=rowData.valid?0:1;
	   var params={"id":rowData.id,"valid":newValid};
	   //url
	   var url="trans//doUpDateObjects";
	   //ajax request
       var btn=$(this);//获取点击的button对象
	   $.post(url,params,function(result){
    	   if(result.state==1){
    		   alert(result.message);
    		   //doGetObjects();//重新查询刷新
    		   //优化方式实现(局部刷新:修改button显示,修改td内容显示)
    		   doEditRow(btn,rowData.valid);
    	   }else{
    		   alert(result.message);
    	   }
       })    
   }    
   function doEditRow(obj,valid){
	   //1.修改按钮上的内容
	   $(obj).html(valid?"正常":"维修");
	   //2.修改tr中第5个td中的内容(查询API文档)
	   var tr=$(obj).parents("tr");
	   tr.find("td:eq(5)").text(valid?"维修":"正常");
	   //3.获取当前行tr对象，然后重新绑定新的值
	   var rowData=tr.data("rowData")
	   rowData.valid=valid?0:1;
	   tr.data("rowData",rowData);
   }
   //处理查询按钮事件
   function doQueryObjects(){
	   $("#pageId").data("pageCurrent",1);
	   doGetObjects();
   }
   //页面加载完成异步加载当前页数据
   function doGetObjects(){
	   var url="vehicle/doFindPageObjects";
	   var pageCurrent=$("#pageId").data("pageCurrent");
	   if(!pageCurrent)pageCurrent=1;
	   var params={"pageCurrent":pageCurrent}
	   params.username=$("#searchNameId").val().trim();
	   console.log(params);
	   $.getJSON(url,params,function(result){
		   console.log(result);
		   doHandleResponseResult(result);
	   });
   }
   function doHandleResponseResult(result){
	   if(result.state==1){
		  doSetTableBodyRows(result.data.records);
		  doSetPagination(result.data);
		}else{
		  alert(result.message);
	   }
   }
   //通过服务端返回的数据初始化页面
   function doSetTableBodyRows(data){
	  //1.获取tbody对象，并清空内容
	  var tBody=$("#tbodyId");
	  tBody.empty();
	  //2.迭代data内容将数据追加到tbody中
	  for(var i in data){
		  var tr=$("<tr></tr>");
		  tr.data("rowData",data[i]);
		  var tds=doCreateTds(data[i]);
		  tr.append(tds);
		  tBody.append(tr);
	  }
   }
   function doCreateTds(row){
	   console.log(row);
	   var tds="<td><input type='radio' name='radioId' value='"+row.id+"' ></td>"+
	     "<td>"+row.name+"</td>"+
	     "<td>"+row.type+"</td>"+
	     "<td>"+(row.status?"使用中":"空闲中")+"</td>"+
	     "<td><button type='button' id='"+row.id+"' class='btn btn-default btn-delete'>删除</button></td>"; 
       return tds;
   }
</script>
