<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.sys.mapper.SysUserMapper">
	<sql id="queryWhereId">
		from sys_emps
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>
	<resultMap type="com.tt.sys.vo.SysUserDeptVo" id="sysUserMap">
		<!-- 关联查询 -->
		<!-- 将查询的deptId封装到 type="com.db.sys.vo.SysUserDeptVo"中的property="sysDept" 
			属性中 -->
		<association property="sysDept" column="deptId"
			select="com.tt.sys.mapper.SysDeptMapper.findById">
		</association>
	</resultMap>
	<select id="findPageObjects" resultMap="sysUserMap">
		select *
		<include refid="queryWhereId" />
		order by created_time desc
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*)
		<include refid="queryWhereId" />
	</select>
	<!-- 禁用和启用状态 -->
	<update id="validById">
		update sys_emps
		set valid=#{valid},
		modified_user=#{modifiedUser},
		modified_time=now()
		where id=#{id}
	</update>
	<!-- 添加用户信息 -->
	<insert id="insertObject"
		parameterType="SysEmp" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_emps
		(username,password,dept_id,email,mobile,salt,valid,
		created_time,modified_time,created_user,modified_user)
		values
		(#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>
	<!-- 根据用户名查取用户信息shiro -->
	<select id="findUserByUserName"
		resultType="SysEmp">
		select *
		from sys_emps
		where username=#{username}
	</select>
	<!-- 修改用户密码 -->
	<update id="updatePassword">
		update sys_emps set password=#{newPwd} 
		where password=#{oldPwd}
	</update>
</mapper>