<!DOCTYPE html>
<html>
<head>
<title>首页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, 
false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- load-more -->
<script>
	$(document).ready(function () {
		size_li = $("#myList li").size();
		x=1;
		$('#myList li:lt('+x+')').show();
		$('#loadMore').click(function () {
			x= (x+1 <= size_li) ? x+1 : size_li;
			$('#myList li:lt('+x+')').show();
		});
		$('#showLess').click(function () {
			x=(x-1<0) ? 1 : x-1;
			$('#myList li').not(':lt('+x+')').hide();
		});
	});
</script>
<!-- //load-more -->
<link 
href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,90
0italic' rel='stylesheet' type='text/css'>
<link 
href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,8
00,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3l_header_left"> 
				<ul>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>820-8208820</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:woshayebuhui@qq.com">info@example.com</a></li>
				</ul>
			</div>
			<div id="example2">	
				<div class="wrapper2">
					<div class="content-wrapper2">
						<div class="search-button2">
							<span></span>
						</div>
						<div class="search-box2">
							<form action="#" method="post">
								<input type="text" name="Search" placeholder="Search Here..." required="">
								<input type="submit" value="Send"> <img src="images/close.png" alt=" " />
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="w3l_header_right">
				<ul>
					<li><a href="login.html"><span class="glyphicon glyphicon-user" 
aria-hidden="true"></span>登录</a></li>
					<li><a href="sign-up.html"><span class="glyphicon glyphicon-user" 
aria-hidden="true"></span>注册</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<script type="text/javascript" src="js/demo.js"></script>
		</div>
	</div>
	<div class="logo_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html">T<span>T</span>LOGISTICS</a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-2" id="link-effect-2">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html"><span data-hover="首页">首页</span></a></li>
							<li><a href="services.html"><span data-hover="业务预定">业务预定</span></a></li>
							<li><a href="about.html"><span data-hover="查询订单">查询订单</span></a></li>
							<li><a href="short-codes.html"><span data-hover="禁运物品">禁运物品</span></a></li>
							<li><a href="mail.html"><span data-hover="联系我们">联系我们</span></a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3ls_banner_info">
				<h2>transport</h2>
				
<p>运输是国民经济的命脉，任何跨越空间的物质实体的流动，都可称为运输。在物流体系的所有动态功能
中，运输功能是核心.</p>
				<div class="wthree_more">
					<a href="single.html" class="button--wayra button--border-thick button--text-upper 
button--size-s">Learn More</a>
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->

<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-6 banner_bottom_left">
				<h3>为什么选择我们</h3>
				<p><i>我们的优势</i>价格优势：统一定价，量多优惠。

                                     情感优势：首家开展快递情感祝福、道歉、礼物、温馨食品等情感快递。

                                     
服务优势：专业的办公热线，优秀专业的中通客服、优秀的派收业务员，及时为您
处理问题。</p>
				<div class="wthree_more wthree_more1">
					<a href="single.html" class="button--wayra button--border-thick button--text-upper 
button--size-s">Read More</a>
				</div>
			</div>
			<div class="col-md-6 banner_bottom_right">
				<div class="wthree_banner_bottom_right_grids">
					<div class="col-md-6 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i></i>
								<h3>反应快速化</h3>
								<p>前置时间越来越短，配送间隔越来越短，物流配送速度越来越快.</p>
							</div>
							<div class="mask">
								<img src="images/1.jpg" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="col-md-6 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="men"></i>
								<h3>服务系列化</h3>
								<p>在内涵上提高了众多服务对决策的支持作用.</p>
							</div>
							<div class="mask">
								<img src="images/2.jpg" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="wthree_banner_bottom_right_grids">
					<div class="col-md-6 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="shipping"></i>
								<h3>手段现代化</h3>
								<p>采用全球先进军事后勤技术</p>
							</div>
							<div class="mask">
								<img src="images/3.jpg" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="col-md-6 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="clock"></i>
								<h3>经营市场化</h3>
								<p>"大而全” ,“小而全”</p>
							</div>
							<div class="mask">
								<img src="images/4.jpg" class="img-responsive" alt="" />
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- banner-bottom -->

<!-- banner-bottom1 -->
	<div class="banner-bottom1">
		<div class="col-md-6 agile_banner_bottom1_left">
			<img src="images/5.jpg" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agile_banner_bottom1_right">
			<h3>现代物流的基本优势</h3>
			<p>现代物流作为一种先进的组织方式和管理技术，被广泛地认为是企业在除了降低物资消耗
			，提高劳动生产率以外的又一个可以增加利润的方式（第三方利润的源泉)它在国民经济和
			社会发展中发挥着重要的作用。大量数据表明：经济发达国家或地区的物流产值在国民经济中
			处于一个十分重要的地位。加快物流理论的深入研究和实践及物流系统的构建迫在眉睫。 </p>
			
			<div class="details">
				<a href="single.html">More Details</a>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- banner-bottom1 -->
<div class="tlinks">Collect from <a href="http://www.alileyun.com/" >阿里乐云</a></div>
<!-- news -->
	<div class="news">
		<div class="container">
			<h3>新闻</h3>
			<p class="quia">from our blog</p>
			<div class="agileits_news_grids">
				<div class="tab-1 resp-tab-content">
					<div class="load_more">	
						<ul id="myList">
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">11<span>2019-08</span></p>
											<p class="para1"><i class="glyphicon glyphicon-envelope" 
aria-hidden="true"></i><a href="#"><span>评论- 998</span></a></p>
											<p><i class="glyphicon glyphicon-eye-open" 
aria-hidden="true"></i><a href="#"><span>查看- 10021</span></a></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<img src="images/6.jpg" alt=" " class="img-responsive" />
											<h4><a href="single.html">通通物流发布平谷大桃运输解决方案，助力果农销售</a></h4>
											<p>巧妙结合“互联网+大桃工程”，德邦快递为果农定制运输方案</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>2019-08</span></p>
											<p class="para1"><i class="glyphicon glyphicon-envelope" 
aria-hidden="true"></i><a href="#"><span>评论- 155</span></a></p>
											<p><i class="glyphicon glyphicon-eye-open" 
aria-hidden="true"></i><a href="#"><span>查看- 1034</span></a></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<img src="images/7.jpg" alt=" " class="img-responsive" />
											<h4><a href="single.html">通通物流牵手药师帮，助力医药电商</a></h4>
											<p>针对客户最关心的全国网点覆盖、线上轨迹可视化、
											   货物安全保障、物流成本</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">28 <span>June- 2016</span></p>
											<p class="para1"><i class="glyphicon glyphicon-envelope" 
aria-hidden="true"></i><a href="#"><span>评论- 998</span></a></p>
											<p><i class="glyphicon glyphicon-eye-open" 
aria-hidden="true"></i><a href="#"><span>查看- 10021</span></a></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<img src="images/8.jpg" alt=" " class="img-responsive" />
											<h4><a href="single.html">tempora incidunt eius</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>June- 2016</span></p>
											<p class="para1"><i class="glyphicon glyphicon-envelope" 
aria-hidden="true"></i><a href="#"><span>comments- 5</span></a></p>
											<p><i class="glyphicon glyphicon-eye-open" 
aria-hidden="true"></i><a href="#"><span>view- 34</span></a></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<img src="images/9.jpg" alt=" " class="img-responsive" />
											<h4><a href="single.html">illumqui dolorem eum</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="l_g">
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">28 <span>June- 2016</span></p>
											<p class="para1"><i class="glyphicon glyphicon-envelope" 
aria-hidden="true"></i><a href="#"><span>comments- 8</span></a></p>
											<p><i class="glyphicon glyphicon-eye-open" 
aria-hidden="true"></i><a href="#"><span>view- 21</span></a></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<img src="images/10.jpg" alt=" " class="img-responsive" />
											<h4><a href="single.html">tempora incidunt eius</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 agileits_news_grid_left">
										<div class="agileits_news_grid_left_gridl">
											<p class="para1">30 <span>June- 2016</span></p>
											<p class="para1"><i class="glyphicon glyphicon-envelope" 
aria-hidden="true"></i><a href="#"><span>comments- 5</span></a></p>
											<p><i class="glyphicon glyphicon-eye-open" 
aria-hidden="true"></i><a href="#"><span>view- 34</span></a></p>
										</div>
										<div class="agileits_news_grid_left_gridr">
											<img src="images/11.jpg" alt=" " class="img-responsive" />
											<h4><a href="single.html">illumqui dolorem eum</a></h4>
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
esse 
												quam nihil molestiae consequatur, vel illum qui dolorem.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
						</ul>
						<div id="loadMore">加载更多</div>
						<div id="showLess">隐藏更多</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //news -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3>招 商 合 作</h3>
			<p class="quia">加 入 我 们</p>
			<div class="w3_testimonials_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>	
								<div class="w3_testimonials_grid">
									<img src="images/1.png" alt=" " class="img-responsive" />
									<h4><i>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
										impedit quo minus id quod maxime placeat facere possimus, omnis 
voluptas.</i></h4>
									<h5>John Frank</h5>
									<p>Founder</p>
								</div>
							</li>
							<li>	
								<div class="w3_testimonials_grid">
									<img src="images/2.png" alt=" " class="img-responsive" />
									<h4><i>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
										impedit quo minus id quod maxime placeat facere possimus, omnis 
voluptas.</i></h4>
									<h5>Michael Doe</h5>
									<p>Transport Agent</p>
								</div>
							</li>
							<li>	
								<div class="w3_testimonials_grid">
									<img src="images/3.png" alt=" " class="img-responsive" />
									<h4><i>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
										impedit quo minus id quod maxime placeat facere possimus, omnis 
voluptas.</i></h4>
									<h5>Thomas Carl</h5>
									<p>Transport Agent</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<!-- flexSlider -->
					<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" 
property="" />
					<script defer src="js/jquery.flexslider.js"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
				<!-- //flexSlider -->
			</div>
		</div>
	</div>
<!-- //testimonials -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3agile_footer_grid">
				<h3>About Us</h3>
				<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
					voluptatibus.</p>
				<h2><a href="index.html">T<span>T</span>LOGISTICS</a></h2>
			</div>
			<div class="col-md-2 w3agile_footer_grid">	
				<h3>Links</h3>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Services</a>
					  



					</li>
					<li><a href="about.html">About</a></li>
					<li><a href="mail.html">Mail Us</a></li>
				</ul>
			</div>
			<div class="col-md-4 w3agile_footer_grid">
				<h3>Twitter Posts</h3>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis voluptatibus maiores alias, ut aut reiciendis.
						<span>02 days ago</span></li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
						voluptatibus.<span>03 days ago</span></li>
				</ul>
			</div>
			<div class="col-md-3 w3agile_footer_grid">
				<h3>Instagram</h3>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="images/9.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="images/10.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="images/11.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="images/8.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="w3agile_footer_grid_left">
					<a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="agileinfo_copy_right">
		<div class="container">
			<div class="agileinfo_copy_right_left">
				<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a 
href="http://www.alileyun.com/" target="_blank" title="阿里乐云">阿里乐云</a> - Collect from 
<a href="http://www.alileyun.com/" title="阿里乐云" target="_blank">阿里乐云</a></p>
			</div>
			<div class="agileinfo_copy_right_right">
				<ul class="social">
					<li><a class="social-linkedin" href="#">
						<i></i>
						<div class="tooltip"><span>Facebook</span></div>
						</a></li>
					<li><a class="social-twitter" href="#">
						<i></i>
						<div class="tooltip"><span>Twitter</span></div>
						</a></li>
					<li><a class="social-google" href="#">
						<i></i>
						<div class="tooltip"><span>Google+</span></div>
						</a></li>
					<li><a class="social-facebook" href="#">
						<i></i>
						<div class="tooltip"><span>Pinterest</span></div>
						</a></li>
					<li><a class="social-instagram" href="#">
						<i></i>
						<div class="tooltip"><span>Instagram</span></div>
						</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>